{# templates/author/show.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Author Page</title>
    </head>
    <body>
        <h1>Author: {{ name }}</h1>
    </body>
</html>
